page-inscription {
  button.inscription {
      max-width: 250px;
      margin-top:30px;
      margin-left: auto;
      margin-right: auto;
      background-color: #dc4727;
  }

  .text_inscription{
    margin-top:10px;
    margin-left: 55px;
  }

  $text-input-highlight-color-valid: #dc4727;
}
