page-home {

  button.inscription {
      margin-bottom: 50px;
      margin-top: 150px;
      max-width: 250px;
      margin-left: auto;
      margin-right: auto;
      background-color: #dc4727;
  }

  button.connexion {
      margin-left: auto;
      margin-right: auto;
      max-width: 250px;
      background-color: #dc4727;
  }

  .logo{
    margin-top:10px;
    margin-left: 120px;
  }

  .ass{
    position:absolute;
    top:170px;
    left:120px;
  }
  div.tabbar.show-tabbar {
      display: none!important;
  }

  .logo_text{
    margin-top:10px;
    margin-left: 135px;
  }
}
